body {
    background-color: #E5E5E5;
}
.list {
    list-style: none;
}

/* header */
.logo-first-part {
    color: #2196F3;
}
.logo-second-part {
    color: #000000;
}
.page-nav .link{
    color: #212121;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #2196F3;
}
.contact-info .link{
    color: #757575;
}
.contact-info .link:focus,
.contact-info .link:hover{
    color: #2196F3;
}

/* hero */
.hero .title{
    color: #FFFFFF;
}

/* company's policy */

/* what we do */

/* our team */

/* footer */